<section class="visible-lg visible-md" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out" data-aos-once="true">
    <!-- Section Divider -->
    <div class="sec-divider"></div>
    <h3 class="title text-center hidden-sm hidden-xs">TIỆN ÍCH ĐẶT BIỆT DÀNH RIÊNG CHO THÀNH VIÊN KÝ TÚC XÁ</h3>
    <hr class="title-divider" id="td1">
    <ul class="my-benefit-section-wrap">
        <li>
            <img src="~/assets/images/trangchu/Alert.png" alt="ALert Icon" id="alert-icon">
            <p>QUẢN LÝ CHI PHÍ ONLINE</p>
        </li>
        <li>
            <img src="~/assets/images/trangchu/Wifi.png" alt="Wifi Icon" id="wifi-icon">
            <p>DỊCH VỤ INTERNET CHỈ TỪ 50.000 ĐỒNG/ SINH VIÊN</p>
        </li>
        <li>
            <img src="~/assets/images/trangchu/Parking Card.png" alt="Parking Card Icon" id="parking-card-icon">
            <p>HỆ THỐNG BÃI GỬI XE THÔNG MINH</p>
        </li>
        <li>
            <img src="~/assets/images/trangchu/Plate.png" alt="Plate Icon" id="plate-icon">
            <p>CĂN TIN THOÁNG MÁT</p>
        </li>
        <li>
            <img src="~/assets/images/trangchu/Reading Book.png" alt="Reading Book Icon" id="reading-book-icon">
            <p>PHÒNG TỰ HỌC LÊN ĐẾN 100M<sup>2</sup></p>
        </li>
        <li>
            <img src="~/assets/images/trangchu/cctv.png" alt="CCTV Icon" id="cctv-icon">
            <p>AN NINH NGHIÊM NGẶT</p>
        </li>
        <li>
            <img src="~/assets/images/trangchu/CLB.png" alt="CLB Icon" id="clb-icon">
            <p>SINH HOẠT CLB HỌC THUẬT</p>
        </li>
        <br>
        <li><h4 class="b-footer">LIÊN HỆ @Html.ActionLink("ĐĂNG KÍ NGAY", "Datcho", "Lienhe")</h4></li>
    </ul>
</section>
