<section class="row my-card-section">
    <!-- Section Divider -->
    <div class="sec-divider"></div>
    <!-- Content -->
    <div class="container center-block">
        <ul class="my-card col-lg-4 col-md-4 col-sm-5 hidden-xs pull-left text-center" data-aos="fade-up-left" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true">
            <li>
                <img src="~/assets/images/trangchu/Dormitory.png" alt="Dormitory" class="my-img-lg">
            </li>
            <li>
                <h3>KTX 43-45</h3>
            </li>
            <li>
                <img class="my-card-icon" src="~/assets/images/trangchu/Student.png" alt="Student Icon">
                <p class="my-card-info">500+ sinh viên đang thuê</p>
            </li>
            <li>
                <img class="my-card-icon" src="~/assets/images/trangchu/Rent.png" alt="Rent Icon">
                <p class="my-card-info">50+ chỗ ở trống</p>
            </li>
            <li>
                <img class="my-card-icon" src="~/assets/images/trangchu/Location.png" alt="Location Icon">
                <p class="my-card-info">300m đến cơ sở B</p>
            </li>
        </ul>
        <ul class="my-card col-lg-4 col-md-4 col-sm-5 hidden-xs pull-right text-center" data-aos="fade-up-right" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true">
            <li>
                <img src="~/assets/images/trangchu/Dormitory.png" alt="Dormitory" class="my-img-lg">
            </li>
            <li>
                <h3>KTX 135A</h3>
            </li>
            <li>
                <img src="~/assets/images/trangchu/Student.png" alt="Student Icon">
                <p>600+ sinh viên đang thuê</p>
            </li>
            <li>
                <img src="~/assets/images/trangchu/Rent.png" alt="Rent Icon">
                <p>80+ chỗ ở trống</p>
            </li>
            <li>
                <img src="~/assets/images/trangchu/Location.png" alt="Location Icon">
                <p>300m đến cơ sở B</p>
            </li>
        </ul>

        <!-- Visible XS Card -->
        <ul class="my-card col-xs-12 visible-xs text-center" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true">
            <li>
                <img src="~/assets/images/trangchu/Dormitory.png" alt="Dormitory" class="my-img-lg">
            </li>
            <li>
                <h5>KTX 43-45</h5>
            </li>
            <li>
                <img class="my-card-icon" src="~/assets/images/trangchu/Student.png" alt="Student Icon">
                <p class="my-card-info">500+ sinh viên đang thuê</p>
            </li>
            <li>
                <img class="my-card-icon" src="~/assets/images/trangchu/Rent.png" alt="Rent Icon">
                <p class="my-card-info">50+ chỗ ở trống</p>
            </li>
            <li>
                <img class="my-card-icon" src="~/assets/images/trangchu/Location.png" alt="Location Icon">
                <p class="my-card-info">300m đến cơ sở B</p>
            </li>
        </ul>
        <ul class="my-card col-xs-12 visible-xs text-center" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true">
            <li>
                <img src="~/assets/images/trangchu/Dormitory.png" alt="Dormitory" class="my-img-lg">
            </li>
            <li>
                <h5>KTX 135A</h5>
            </li>
            <li>
                <img src="~/assets/images/trangchu/Student.png" alt="Student Icon">
                <p>600+ sinh viên đang thuê</p>
            </li>
            <li>
                <img src="~/assets/images/trangchu/Rent.png" alt="Rent Icon">
                <p>80+ chỗ ở trống</p>
            </li>
            <li>
                <img src="~/assets/images/trangchu/Location.png" alt="Location Icon">
                <p>300m đến cơ sở B</p>
            </li>
        </ul>
    </div>
</section>
