<section id="hidden-benefit-section" class="hidden-benefit-carousel carousel slide visible-sm visible-xs" data-ride="carousel" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out" data-aos-once="true">
    <div class="row">
        <!-- Section Divider -->
        <div class="sec-divider"></div>
        <h3 class="text-center title">TIỆN ÍCH ĐẶC BIỆT CHO THÀNH VIÊN</h3>
        <hr class="title-divider" id="td2">
    </div>
    <!-- Wrapper for slides -->
    <div class="row">
        <ul class="carousel-inner list-unstyled text-center" role="listbox">
            <li class="item active">
                <div class="container-fluid"><img src="~/assets/images/trangchu/Alert.png" alt="ALert Icon" id="alert-icon" class="b-img-align"></div>
                <h4 class="text-center visible-md">QUẢN LÝ CHI PHÍ ONLINE</h4>
                <h5 class="text-center visible-sm">QUẢN LÝ CHI PHÍ ONLINE</h5>
                <h6 class="text-center visible-xs">QUẢN LÝ CHI PHÍ ONLINE</h6>
            </li>
            <li class="item">
                <div class="container-fluid"><img src="~/assets/images/trangchu/Wifi.png" alt="Wifi Icon" id="wifi-icon" class="b-img-align"></div>
                <h4 class="text-center visible-md">DỊCH VỤ INTERNET CHỈ TỪ 50.000 ĐỒNG/ SINH VIÊN</h4>
                <h5 class="text-center visible-sm">DỊCH VỤ INTERNET CHỈ TỪ 50.000 ĐỒNG/ SINH VIÊN</h5>
                <h6 class="text-center visible-xs">DỊCH VỤ INTERNET CHỈ TỪ 50.000 ĐỒNG/ SINH VIÊN</h6>
            </li>
            <li class="item">
                <div class="container-fluid"><img src="~/assets/images/trangchu/Parking Card.png" alt="Parking Card Icon" id="parking-card-icon" class="b-img-align"></div>
                <h4 class="text-center visible-md">HỆ THỐNG BÃI GIỮ XE THÔNG MINH</h4>
                <h5 class="text-center visible-sm">HỆ THỐNG BÃI GIỮ XE THÔNG MINH</h5>
                <h6 class="text-center visible-xs">HỆ THỐNG BÃI GIỮ XE THÔNG MINH</h6>
            </li>
            <li class="item">
                <div class="container-fluid"><img src="~/assets/images/trangchu/Plate.png" alt="Plate Icon" id="plate-icon" class="b-img-align"></div>
                <h4 class="text-center visible-md">CĂN TIN THOÁNG MÁT</h4>
                <h5 class="text-center visible-sm">CĂN TIN THOÁNG MÁT</h5>
                <h6 class="text-center visible-xs">CĂN TIN THOÁNG MÁT</h6>
            </li>
            <li class="item">
                <div class="container-fluid"><img src="~/assets/images/trangchu/Reading Book.png" alt="Reading Book Icon" id="reading-book-icon" class="b-img-align"></div>
                <h4 class="text-center visible-md">PHÒNG TỰ HỌC LÊN ĐẾN 100M<sup>2</sup></h4>
                <h5 class="text-center visible-sm">PHÒNG TỰ HỌC LÊN ĐẾN 100M<sup>2</sup></h5>
                <h6 class="text-center visible-xs">PHÒNG TỰ HỌC LÊN ĐẾN 100M<sup>2</sup></h6>
            </li>
            <li class="item">
                <div class="container-fluid"><img src="~/assets/images/trangchu/cctv.png" alt="CCTV Icon" id="cctv-icon" class="b-img-align"></div>
                <h4 class="text-center visible-md">AN NINH NGHIÊM NGẶT</h4>
                <h5 class="text-center visible-sm">AN NINH NGHIÊM NGẶT</h5>
                <h6 class="text-center visible-xs">AN NINH NGHIÊM NGẶT</h6>
            </li>
            <li class="item">
                <div class="container-fluid"><img src="~/assets/images/trangchu/CLB.png" alt="CLB Icon" id="clb-icon" class="b-img-align"></div>
                <h4 class="text-center visible-md">SINH HOẠT CLB HỌC THUẬT</h4>
                <h5 class="text-center visible-sm">SINH HOẠT CLB HỌC THUẬT</h5>
                <h6 class="text-center visible-xs">SINH HOẠT CLB HỌC THUẬT</h6>
            </li>
        </ul>
        <!-- Controls -->
        <a class="left carousel-control" href="#hidden-benefit-section" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#hidden-benefit-section" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row">
        <h3 class="visible-lg visible-md b-footer text-center">LIÊN HỆ @Html.ActionLink("ĐĂNG KÍ NGAY", "Datcho", "Lienhe")</h3>
        <h4 class="visible-sm b-footer b-footer text-center">LIÊN HỆ @Html.ActionLink("ĐĂNG KÍ NGAY", "Datcho", "Lienhe")</h4>
        <h5 class="visible-xs b-footer b-footer text-center">LIÊN HỆ @Html.ActionLink("ĐĂNG KÍ NGAY", "Datcho", "Lienhe")</h5>
    </div>
</section>

