<div class="row">

    <div class="col-lg-3 col-md-10 col-sm-10 col-xs-10 pull-left logo-section">
        <img class="img-responsive f-img-custom" src="~/assets/images/Logo-ngang.png">
    </div>

    <div class="col-lg-3 visible-lg">
        <h5 class="title">KTX 135A</h5>
        <p>
            Địa chỉ: 135A Trần Hưng Đạo, P.Cầu Ông Lãnh, Q.1, TP.HCM <br>
            Điện thoại: 02838368334
        </p>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 text-center hidden-lg">
        <h4 class="visible-sm title">KTX 135A</h4>
        <h3 class="visible-md title">KTX 135A</h3>
        <h6 class="visible-xs title">KTX 135A</h6>
        <p>
            Địa chỉ: 135A Trần Hưng Đạo, P.Cầu Ông Lãnh, Q.1, TP.HCM <br>
            Điện thoại: 02838368334
        </p>
    </div>

    <div class="col-lg-3 visible-lg">
        <h5 class="title">KTX 43 - 45</h5>
        <p>
            Địa chỉ: 43 - 45 Nguyễn Chí Thanh, P.9, Q.5, TP.HCM<br>
            Điện thoại: 02838359359
        </p>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 text-center hidden-lg">
        <h4 class="visible-sm title">KTX 43 - 45</h4>
        <h3 class="visible-md title">KTX 43 - 45</h3>
        <h6 class="visible-xs title">KTX 43 - 45</h6>
        <p>
            Địa chỉ: 43 - 45 Nguyễn Chí Thanh, P.9, Q.5, TP.HCM<br>
            Điện thoại: 02838359359
        </p>
    </div>

    <div class="col-lg-3 visible-lg">
        <h5 class="title">BỘ PHẬN HỖ TRỢ SINH VIÊN</h5>
        <p>
            Địa chỉ: B.014 - 279 Nguyễn Tri Phương, Phường 5, Quận 10, TPHCM<br>
            Điện thoại: 02838551777 - 02838573533 <br>
            Email: <a id="email-link" href="mailto:trungtamhotrosinhvien@ueh.edu.vn">trungtamhotrosinhvien@ueh.edu.vn</a>
        </p>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 text-center hidden-lg">
        <h4 class="visible-sm title">BỘ PHẬN HỖ TRỢ SINH VIÊN</h4>
        <h3 class="visible-md title">BỘ PHẬN HỖ TRỢ SINH VIÊN</h3>
        <h6 class="visible-xs title">BỘ PHẬN HỖ TRỢ SINH VIÊN</h6>
        <p>
            Địa chỉ: B.014 - 279 Nguyễn Tri Phương, Phường 5, Quận 10, TPHCM<br>
            Điện thoại: 02838551777 - 02838573533 <br>
            Email: <a id="email-link" href="mailto:trungtamhotrosinhvien@ueh.edu.vn">trungtamhotrosinhvien@ueh.edu.vn</a>
        </p>
    </div>

</div>

