<div class="row text-center">
    <p class="social-links">
        <a href="https://www.facebook.com/TTHTSV.UEH" target="_blank"><img id="facebook-icon" src="~/assets/images/facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img id="Twitter-icon" src="~/assets/images/Twitter-icon.png" alt="Twitter"></a>
        <a href="#"><img id="instagram-icon" src="~/assets/images/instagram-icon.png" alt="Instagram"></a>
    </p>
</div>
