<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">
        <hr style="border-color: #004c56; opacity: 0.4;">
        <h5 class="visible-lg visible-md">Copyright &copy 2020 KTX Web Development Team. All Rights Reserved</h5>
        <h6 class="visible-sm"><small>Copyright &copy 2020 KTX Web Development Team. All Rights Reserved</small></h6>
        <p class="visible-xs"><small>Copyright &copy 2020 KTX Web Development Team. All Rights Reserved</small></p>
    </div>
</div>
