
@{
    ViewBag.Title = "Thông tin sinh viên";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin sinh viên</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/assets/images/default-avatar.jpg"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">Ngô Phương Thảo Nguyên</h3>
                            <div class="card-body">
                                <strong>KTX</strong>
                                <p class="text-muted">135A Trần Hưng Đạo</p>
                                <hr>
                                <strong>Phòng</strong>
                                <p class="text-muted">L102</p>
                                <hr>
                                <strong>Ngày vào ở</strong>
                                <p class="text-muted">05/09/2019</p>
                                <hr>
                                <strong>Trạng thái</strong>
                                <p class="text-muted"><button type="submit" class="btn btn-success">Còn ở</button></p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header p-2">
                            <h3 class="card-title">Thông tin chung</h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Họ tên</strong></div>
                                        <div class="col-sm-8">Ngô Phương Thảo Nguyên</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>MSSV</strong></div>
                                        <div class="col-sm-8">31171022984</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Giới tính</strong></div>
                                        <div class="col-sm-8">Nữ</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Ngày sinh</strong></div>
                                        <div class="col-sm-8">17/05/1999</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Nơi sinh</strong></div>
                                        <div class="col-sm-8">Khánh Hoà</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Dân tộc</strong></div>
                                        <div class="col-sm-8">Kinh</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Tôn giáo</strong></div>
                                        <div class="col-sm-8">Không</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>CMND</strong></div>
                                        <div class="col-sm-8"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Ngày cấp</strong></div>
                                        <div class="col-sm-8"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Nơi cấp</strong></div>
                                        <div class="col-sm-8"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Địa chỉ thường trú</strong></div>
                                        <div class="col-sm-8"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Số điện thoại</strong></div>
                                        <div class="col-sm-8"></div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header p-2">
                            <h3 class="card-title">Thông tin lớp</h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Lớp</strong></div>
                                        <div class="col-sm-8">BI001</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Khoá</strong></div>
                                        <div class="col-sm-8">K43</div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"><strong>Khoa</strong></div>
                                        <div class="col-sm-8">CNTTKD</div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header p-2">
                            <h3 class="card-title">Lịch sử thu phí</h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

