<div class="col-12 col-xl-4 border-left float-md-left">
    <!-- Xem báo cáo thống kê -->
    <div class="col-md-6 col-sm-6 col-lg-6 col-12 float-left box-custom">
        <a class="info-box my-info-box" href="@Url.Action("Baocaothongke","Baocaothongke")">
            <div class="info-box-content">
                <span class="info-box-text"><i class="nav-icon far fa-chart-bar"></i></span>
                <span class="info-box-text">Báo cáo thống kê</span>
                <span class="info-box-text"><small>Xem tình hình tại KTX</small></span>
            </div>
        </a>
    </div>
    <!-- Xem khu nhà phòng -->
    <div class="col-md-6 col-sm-6 col-lg-6 col-12 float-left box-custom">
        <a class="info-box my-info-box" href="@Url.Action("Khuphong","Khuphong")">
            <div class="info-box-content">
                <span class="info-box-text"><i class="nav-icon fas fa-hotel"></i></span>
                <span class="info-box-text">Khu/ Nhà/ Phòng</span>
                <span class="info-box-text"><small>Theo dõi tình trạng chỗ ở</small></span>
            </div>
        </a>
    </div>
    <!-- Xem hóa đơn -->
    <div class="col-md-6 col-sm-6 col-lg-6 col-12 float-left box-custom">
        <a class="info-box my-info-box" href="@Url.Action("Hoadonlephi","Hoadon")">
            <div class="info-box-content">
                <span class="info-box-text"><i class="nav-icon fas fa-file-invoice-dollar"></i></span>
                <span class="info-box-text">Hóa đơn</span>
                <span class="info-box-text"><small>Theo dõi thu tiền</small></span>
            </div>
        </a>
    </div>
    <!-- Tra cứu HSSV -->
    <div class="col-md-6 col-sm-6 col-lg-6 col-12 float-left box-custom">
        <a class="info-box my-info-box" href="@Url.Action("Timhososinhvien","Sinhvien")">
            <div class="info-box-content">
                <span class="info-box-text"><i class="ionicons ion-search"></i></span>
                <span class="info-box-text">Hồ sơ sinh viên</span>
                <span class="info-box-text"><small>Tra cứu hồ sơ sinh viên</small></span>
            </div>
        </a>
    </div>
</div>
