<div class="row">
    <!-- New Arrivals  -->
    <div class="col-xl-3 col-6">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3>160</h3>
                <p>Sinh viên mới đến</p>
            </div>
            <div class="icon">
                <i class="fa fa-user-plus"></i>
            </div>
            <a href="#" class="small-box-footer">
                Chi tiết <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- Total number of guests  -->
    <div class="col-xl-3 col-6">
        <div class="small-box bg-gradient-secondary">
            <div class="inner">
                <h3>3000</h3>
                <p>Sinh viên đang thuê</p>
            </div>
            <div class="icon">
                <i class="fa fa-users" style="color: white;"></i>
            </div>
            <a href="#" class="small-box-footer">
                Chi tiết <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- Total number of rooms available  -->
    <div class="col-xl-3 col-6">
        <div class="small-box bg-gradient-warning">
            <div class="inner">
                <h3>55</h3>
                <p>Chỗ ở còn trống</p>
            </div>
            <div class="icon">
                <i class="fa fa-bed"></i>
            </div>
            <a href="#" class="small-box-footer">
                Chi tiết <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- Total number of service requests  -->
    <div class="col-xl-3 col-6">
        <div class="small-box bg-gradient-info">
            <div class="inner">
                <h3>150</h3>
                <p>Yêu cầu mới từ sinh viên </p>
            </div>
            <div class="icon">
                <i class="fa fa-file-invoice"></i>
            </div>
            <a href="#" class="small-box-footer">
                Chi tiết <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
