<div class="col-12 col-lg-6 col-xl-4 float-md-left">
    <div class="row clearfix">
        <div class="col-md-12 float-left">
            <p class="title my-card-title">Tên hệ thống<span style="font-weight: 500;" class="float-right">Web Platform KTX UEH</span></p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 float-left">
            <p style="font-size: 10px">
                Phiên bản người dùng
                <a href="#" data-toggle="modal" data-target="#modal-PQ" class="float-right">Quản lý</a>
            </p>
        </div>
        <div class="col-md-12 float-left">
            <p style="font-size: 10px">
                Version hệ thống
                <a href="#" data-toggle="modal" data-target="#modal-report-bug" class="float-right">Closed Beta</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row clearfix">
        <div class="col-md-12 float-left">
            <p class="title my-card-title">Cơ sở dữ liệu<span style="font-weight: 500;" class="float-right">UEH Dormitory</span></p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 float-left">
            <p style="font-size: 10px">
                Cập nhật lần cuối
                <span class="float-right">20 tháng 6 năm 2020</span>
            </p>
        </div>
        <div class="col-md-12">
            <p class="text-center"><small><a href="#" data-toggle="modal" data-target="#modal-log">Xem thông tin Log</a></small></p>
        </div>
    </div>
</div>
