<div class="row">
    <div class="col-md-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title title d-none d-sm-block">Ký túc xá 135A Trần Hưng Đạo</h3>
                <p class="card-title title d-block d-sm-none f-title-resp">Ký túc xá 135A Trần Hưng Đạo</p>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body">
                <p><strong>Tổng số chỗ ở:</strong> <span class="float-right">800+</span></p>
                <p><strong>Diện tích phòng:</strong> <spam class="float-right">25- 30 m<sup>2</sup></spam></p>
                <p><strong>Số giường/phòng:</strong> <span class="float-right">6 - 8 giường trên phòng</span></p>
                <p><strong>Trang bị cơ bản:</strong> <span class="float-right">Chổi, cây lau nhà, đồ hốt rác, thùng rác</span></p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title title d-none d-sm-block">Ký túc xá 43 - 45</h3>
                <p class="card-title title d-block d-sm-none f-title-resp">Ký túc xá 43 - 45 Nguyễn Chí Thanh</p>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body">
                <p><strong>Tổng số chỗ ở:</strong> <span class="float-right">800+</span></p>
                <p><strong>Diện tích phòng:</strong> <spam class="float-right">30 m<sup>2</sup></spam></p>
                <p><strong>Số giường/phòng:</strong> <span class="float-right">10 - 12 giường trên phòng</span></p>
                <p><strong>Trang bị cơ bản:</strong> <span class="float-right">Chổi, cây lau nhà, đồ hốt rác, thùng rác</span></p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
