<div class="col-12 col-lg- col-xl-4 offset-l1 float-md-left">
    <!-- Độ hài lòng -->
    <div class="col-md-12">
        <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="ionicons ion-android-happy"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Mức độ hài lòng của sinh viên</span>
                <span class="info-box-number">7 điểm</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                    Tăng 70% trong 2 tuần gần đây
                </span>
            </div>
        </div>
    </div>
    <!-- Yêu cầu từ SV -->
    <div class="col-md-12">
        <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="ionicons ion-android-chat"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Yêu cầu từ sinh viên</span>
                <span class="info-box-number">150</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                    Tăng 50% trong 1 tháng gần đây
                </span>
            </div>
        </div>
    </div>
    <!-- Tỷ lệ lấp đầy -->
    <div class="col-md-12">
        <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="ionicons ion-ios-pie"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Tỷ lệ lấp đầy chỗ ở</span>
                <span class="info-box-number">80%</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 80%"></div>
                </div>
                <span class="progress-description">
                    Tăng 5% trong 1 tháng gần đây
                </span>
            </div>
        </div>
    </div>
</div>
