<a href="@Url.Action("Dashboard","Home")" class="brand-link">
    <img src="~/assets/images/logo-1.png" alt="UEH Logo" class="brand-image" id="hinhlogo">
    <span class="brand-text text-lg">UEH DORMITORY</span>
</a>
