<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="~/assets/images/dashboard/user3-128x128.jpg" class="img-circle elevation-2 user-img-scale" alt="User" id="user-img">
    </div>
    <div class="info">
        <a href="#" class="d-block">
            Alexa Rospova<br> <span style="color: #F4841A">General Manager</span>
        </a>
    </div>
</div>
