<form class="form-inline" id="formsearch">
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
    </div>
</form>
